/* ------------------------------------------------------------------- ticket */

.section .ticket {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.section .ticket .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section .ticket .title > .right {
  display: flex;
  align-items: center;
  color: var(--text-color);
  gap: 12px;
}
.section .ticket .title > .right > .right {
  background: var(--primary-color-light);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 12px;
}
.section .ticket .title > .right > .left {
  display: flex;
  flex-direction: column;
}
.section .ticket .title > .right > .left span:nth-child(1) {
  font-size: 20px;
  font-weight: 700;
}
.section .ticket .title > .right > .left span:nth-child(2) {
  font-size: 16px;
  font-weight: 400;
}
.section .ticket .title button {
  background: var(--primary-color);
  color: #fff;
  width: 260px;
  height: 68px;
  border-radius: 12px;
}
/* ----------------------- ticket List ------------------------*/
.section .ticket .ticket-list > .top {
  display: flex;
  justify-content: space-between;
  color: var(--text-color);
}
.section .ticket .ticket-list > .top > .left {
  display: flex;
  gap: 0;
}
.section .ticket .ticket-list > .top button {
  width: 55px;
  height: 55px;
  border: 1px solid #fff;
  background: none;
}
.section .ticket .ticket-list > .top button:nth-child(1) {
  border-radius: 0 12px 12px 0;
}
.section .ticket .ticket-list > .top button:nth-child(2) {
  border-radius: 12px 0 0 12px;
}
.section .ticket .ticket-list > .top button.active {
  background: var(--primary-color-light);
}
.section .ticket .ticket-list > .bottom {
  background: var(--sidebar-color);
  border-radius: 24px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.section .ticket .ticket-list > .bottom > .top {
  display: flex;
  justify-content: space-between;
  color: var(--text-color);
}
.section .ticket .ticket-list > .bottom > .top .search-field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 20%;
  border: 1px solid #fff;
  border-radius: 12px;
  padding: 12px;
  background: var(--primary-color-light);
}
.section .ticket .ticket-list > .bottom > .top .search-field input {
  width: 100%;
  background: none;
  border: none;
}
.section .ticket .ticket-list > .bottom > .bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.section .ticket .ticket-list > .bottom > .bottom span {
  color: var(--text-color);
}
.section .ticket .ticket-list > .bottom > .bottom table {
  width: 100%;
  color: var(--text-color);
  border-collapse: collapse;
}
.section .ticket .ticket-list > .bottom > .bottom table thead tr th {
  background: var(--primary-color-light);
  padding: 18px;
}
.section .ticket .ticket-list > .bottom > .bottom table img {
  width: 40px;
}
.section .ticket .ticket-list > .bottom > .bottom table tbody > tr {
  border-bottom: 1px solid #fff;
}
.section .ticket .ticket-list > .bottom > .bottom table tbody > tr > td {
  text-align: center;
  padding: 24px;
}
.section
  .ticket
  .ticket-list
  > .bottom
  > .bottom
  table
  tbody
  > tr
  > td:nth-child(5) {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.section .ticket .ticket-list > .bottom > .bottom table tbody .coin-name {
  display: flex;
}
.section
  .ticket
  .ticket-list
  > .bottom
  > .bottom
  table
  tbody
  .coin-name
  > .left {
  display: flex;
  flex-direction: column;
}
.section .ticket .ticket-list > .bottom > .bottom table tbody button {
  width: 105px;
  height: 50px;
  border-radius: 25px;
  border: none;
}
.section
  .ticket
  .ticket-list
  > .bottom
  > .bottom
  table
  tbody
  button:nth-child(1) {
  background: #e7f3fe;
  color: #0f96fa;
}
.section
  .ticket
  .ticket-list
  > .bottom
  > .bottom
  table
  tbody
  button:nth-child(2) {
  background: #fef7eb;
  color: #ffa43d;
}
/* ----------------------- ticket List ------------------------*/
/* ------------------------------------------------------------------- ticket */
